
#time-label {
    float: right;
    padding-right: 20px;
}

#highscores{
    float: left;
    padding-left: 20px;
} 
#opening-text {
    text-align: center;
}
.container {
    padding-top: 100px;  
}
